body {
  font-family: 'Raleway', sans-serif;
  background-color: #EAEBED
}

.header {
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

tr {
  border: 1px solid black;
  background-color: white;
}

tr:hover {
  background-color: #1B998B;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.table-rows {
  padding: 20px;
}

.outer-div {
  width: 50vh;
  margin: 0 auto;
}
