body {
  background-color: #FCFCFC;
}

ul {
  list-style-type: none;
}

/*  splash  */

.splash img {
  position: relative;
  background-color: #03B5AA;
  transform: skewY(2deg);
  transform-origin: top left;
  height: 550px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.splash h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding: 55px 30px 50px 50px;
  font-weight: lighter;
}

.splash-picture-button {
  position: relative;
}

.splash-picture-button button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 5px;
  cursor: pointer;
  background-color: #037971;
  font-size: 14px;
  color: white;
  padding: 15px;
}


.splash-picture-button h2 {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

button:hover {
  background-color: #00BFB3;
}

footer {
  background-color: #03B2A6;
  width: 100%;
	height: 200px;;
  transform: skewY(-1deg);
  background-color: #03B2A6;
  position: relative;
  z-index: -2;
  margin-top: -160px;
}

.header {
  text-align: center;
}

.triangle {
  width: 100%;
	height: 200px;;
  transform: skewY(-3deg);
  background-color: #03B2A6;
  position: relative;
  z-index: -1;
  margin-bottom: -190px;
}

.nav-bar {
  width: 300px;
  float: right;
  margin: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 14px;
  overflow: hidden;
}

.nav-bar li {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.nav-bar li:hover {
  /* background-color: #049A8F; */
  /* color: white; */
  cursor: pointer;
  /* padding: 2px; */
  /* border-radius: 2px; */
}

.nav-bar img {
  float: right;
  height: 30px;
  width: 30px;
  background-color: transparent;
  display: none;
}

#img-wrapper {
  z-index: 999;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 22px;
}

@media screen and (max-width: 600px) {
  .nav-bar li {
    display: none;
  }
  .nav-bar img {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar.responsive {
    position: relative;
  }
  .nav-bar.responsive img {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .splash-picture-button h2 {
    font-size: 16px;
  }

  .nav-bar {
    width: 29px;
  }

  .splash h1 {
    width: 50px;
  }
}



/* Select a Service */

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

tr {
  border: 1px solid black;
  background-color: white;
}

tr:hover {
  background-color: #1B998B;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.table-rows {
  padding: 20px;
}

.outer-div {
  width: 500px;
  margin: 0 auto;
}

.outer-div table {
  margin: 0 auto;
}
